[submodule "Packages/2026_04_07_upm_charleroi_xr_art_on_unity"]
	path = Packages/2026_04_07_upm_charleroi_xr_art_on_unity
	url = https://github.com/EloiStree/2026_04_07_upm_charleroi_xr_art_on_unity.git
